In [1]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt

In [2]:
claim_test = pd.read_csv("Test_Claim.csv")
Demog_test=pd.read_csv("Test_Demographics.csv")
policy_test=pd.read_csv("Test_Policy.csv")
vehicle_test=pd.read_csv("Test_Vehicle.csv")
target_test= pd.read_csv("Test.csv")

In [3]:
claim_test

,CustomerID,DateOfIncident,TypeOfIncident,TypeOfCollission,SeverityOfIncident,AuthoritiesContacted,IncidentState,IncidentCity,IncidentAddress,IncidentTime,NumberOfVehicles,PropertyDamage,BodilyInjuries,Witnesses,PoliceReport,AmountOfTotalClaim,AmountOfInjuryClaim,AmountOfPropertyClaim,AmountOfVehicleDamage
0,Cust10008,2015-02-05,Multi-vehicle Collision,Front Collision,Minor Damage,Ambulance,State5,City2,Location 1354,4,3,NO,0,0,?,68354,6835,8059,53460
1,Cust10010,2015-01-13,Single Vehicle Collision,Rear Collision,Minor Damage,Fire,State9,City5,Location 1383,16,1,?,1,1,?,55270,8113,5240,41917
2,Cust10015,2015-01-05,Multi-vehicle Collision,Rear Collision,Minor Damage,Police,State5,City2,Location 2030,20,3,NO,0,1,?,59515,7490,9110,42915
3,Cust10020,2015-01-03,Vehicle Theft,?,Trivial Damage,None,State7,City5,Location 1449,10,1,?,2,1,?,4941,494,866,3581
4,Cust1003,2015-02-22,Multi-vehicle Collision,Rear Collision,Minor Damage,Police,State5,City2,Location 1916,7,3,NO,2,3,NO,34650,7700,3850,23100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8907,Cust9984,2015-01-17,Single Vehicle Collision,Rear Collision,Total Loss,Police,State5,City4,Location 1958,10,1,YES,1,0,NO,61296,5785,8861,46650
8908,Cust9986,2015-02-09,Single Vehicle Collision,Front Collision,Total Loss,Other,State5,City2,Location 1035,19,1,?,1,1,YES,86729,9698,9698,67333
8909,Cust9990,2015-02-20,Single Vehicle Collision,Rear Collision,Minor Damage,Other,State5,City2,Location 2037,9,1,YES,1,2,NO,65328,12455,9281,43592
8910,Cust9995,2015-02-22,Single Vehicle Collision,Side Collision,Minor Damage,Police,State8,City3,Location 2097,19,1,YES,0,2,YES,71118,11977,11604,47537
8911,Cust9998,2015-01-14,Single Vehicle Collision,Front Collision,Total Loss,Other,State7,City3,Location 1024,10,1,?,2,2,?,67499,11681,5841,49977

In [4]:
Demog_test

,CustomerID,InsuredAge,InsuredZipCode,InsuredGender,InsuredEducationLevel,InsuredOccupation,InsuredHobbies,CapitalGains,CapitalLoss,Country
0,Cust10008,27,471704,FEMALE,High School,adm-clerical,base-jumping,56400,-57000,India
1,Cust10010,40,455810,FEMALE,MD,prof-specialty,golf,56700,-65600,India
2,Cust10015,39,461919,MALE,JD,other-service,movies,30400,0,India
3,Cust10020,38,600904,FEMALE,Masters,exec-managerial,video-games,68500,0,India
4,Cust1003,29,430632,FEMALE,PhD,sales,board-games,35100,0,India
...,...,...,...,...,...,...,...,...,...,...
8907,Cust9984,28,446435,MALE,Associate,tech-support,camping,0,-53700,India
8908,Cust9986,30,438237,FEMALE,Associate,craft-repair,movies,39600,-64300,India
8909,Cust9990,44,450339,FEMALE,High School,armed-forces,dancing,25000,0,India
8910,Cust9995,29,439304,MALE,PhD,transport-moving,hiking,75800,-28800,India
8911,Cust9998,38,450730,FEMALE,PhD,handlers-cleaners,video-games,51500,-74300,India

In [5]:
policy_test

,InsurancePolicyNumber,CustomerLoyaltyPeriod,DateOfPolicyCoverage,InsurancePolicyState,Policy_CombinedSingleLimit,Policy_Deductible,PolicyAnnualPremium,UmbrellaLimit,InsuredRelationship,CustomerID
0,110124,134,2000-09-06,State3,100/300,2000,1413.14,5000000,own-child,Cust1003
1,110129,165,1990-02-03,State1,100/300,1000,1137.03,0,unmarried,Cust1008
2,110137,473,1992-10-19,State2,100/300,2000,1131.40,0,other-relative,Cust1016
3,110140,160,2014-12-28,State3,500/1000,500,1374.22,0,other-relative,Cust1019
4,110141,196,1992-08-02,State2,500/1000,2000,1475.73,0,own-child,Cust1020
...,...,...,...,...,...,...,...,...,...,...
8907,148598,155,2000-03-19,State3,250/500,616,1358.80,3462442,other-relative,Cust39477
8908,148599,215,1993-07-23,State3,250/500,892,1299.82,4567362,other-relative,Cust39478
8909,148609,245,2009-12-11,State1,500/1000,1002,1361.44,9580,wife,Cust39488
8910,148610,437,2011-11-17,State1,500/1000,1902,1357.36,4510498,wife,Cust39489
8911,148617,200,1995-12-04,State3,250/500,1000,895.49,0,husband,Cust39496

In [6]:
vehicle_test

      CustomerID VehicleAttribute VehicleAttributeDetails
0      Cust28465     VehicleModel                     92x
1      Cust20319     VehicleModel                   Jetta
2       Cust3683        VehicleID            Vehicle22709
3      Cust29385        VehicleID            Vehicle20347
4      Cust34403     VehicleModel                   Camry
...          ...              ...                     ...
35643   Cust1980     VehicleModel                      95
35644  Cust17773     VehicleModel               Silverado
35645  Cust24313        VehicleID            Vehicle33407
35646   Cust5061       VehicleYOM                    2003
35647  Cust13782      VehicleMake               Chevrolet

[35648 rows x 3 columns]

In [7]:
vehicle_test = vehicle_test.pivot(index='CustomerID', columns='VehicleAttribute', values='VehicleAttributeDetails').reset_index()
vehicle_test.columns.name = None  # To remove the "VehicleAttribute" label from the top row
vehicle_test

     CustomerID     VehicleID VehicleMake    VehicleModel VehicleYOM
0     Cust10008  Vehicle34362  Volkswagen          Passat       1995
1     Cust10010  Vehicle17046      Nissan          Ultima       2006
2     Cust10015  Vehicle11038      Suburu         Impreza       2010
3     Cust10020  Vehicle37114      Accura              TL       2009
4      Cust1003  Vehicle16771       Dodge             RAM       2007
...         ...           ...         ...             ...        ...
8907   Cust9984  Vehicle19062        Saab              95       2000
8908   Cust9986  Vehicle18191        Saab             92x       2000
8909   Cust9990  Vehicle11032         BMW           Civic       1998
8910   Cust9995  Vehicle30412        Jeep  Grand Cherokee       2002
8911   Cust9998   Vehicle2349      Suburu            E400       2007

[8912 rows x 5 columns]

In [8]:
claim_Demog_test = pd.merge(claim_test, Demog_test, how='left', on=['CustomerID'])
claim_Demog_test

,CustomerID,DateOfIncident,TypeOfIncident,TypeOfCollission,SeverityOfIncident,AuthoritiesContacted,IncidentState,IncidentCity,IncidentAddress,IncidentTime,...,AmountOfVehicleDamage,InsuredAge,InsuredZipCode,InsuredGender,InsuredEducationLevel,InsuredOccupation,InsuredHobbies,CapitalGains,CapitalLoss,Country
0,Cust10008,2015-02-05,Multi-vehicle Collision,Front Collision,Minor Damage,Ambulance,State5,City2,Location 1354,4,...,53460,27,471704,FEMALE,High School,adm-clerical,base-jumping,56400,-57000,India
1,Cust10010,2015-01-13,Single Vehicle Collision,Rear Collision,Minor Damage,Fire,State9,City5,Location 1383,16,...,41917,40,455810,FEMALE,MD,prof-specialty,golf,56700,-65600,India
2,Cust10015,2015-01-05,Multi-vehicle Collision,Rear Collision,Minor Damage,Police,State5,City2,Location 2030,20,...,42915,39,461919,MALE,JD,other-service,movies,30400,0,India
3,Cust10020,2015-01-03,Vehicle Theft,?,Trivial Damage,None,State7,City5,Location 1449,10,...,3581,38,600904,FEMALE,Masters,exec-managerial,video-games,68500,0,India
4,Cust1003,2015-02-22,Multi-vehicle Collision,Rear Collision,Minor Damage,Police,State5,City2,Location 1916,7,...,23100,29,430632,FEMALE,PhD,sales,board-games,35100,0,India
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8907,Cust9984,2015-01-17,Single Vehicle Collision,Rear Collision,Total Loss,Police,State5,City4,Location 1958,10,...,46650,28,446435,MALE,Associate,tech-support,camping,0,-53700,India
8908,Cust9986,2015-02-09,Single Vehicle Collision,Front Collision,Total Loss,Other,State5,City2,Location 1035,19,...,67333,30,438237,FEMALE,Associate,craft-repair,movies,39600,-64300,India
8909,Cust9990,2015-02-20,Single Vehicle Collision,Rear Collision,Minor Damage,Other,State5,City2,Location 2037,9,...,43592,44,450339,FEMALE,High School,armed-forces,dancing,25000,0,India
8910,Cust9995,2015-02-22,Single Vehicle Collision,Side Collision,Minor Damage,Police,State8,City3,Location 2097,19,...,47537,29,439304,MALE,PhD,transport-moving,hiking,75800,-28800,India
8911,Cust9998,2015-01-14,Single Vehicle Collision,Front Collision,Total Loss,Other,State7,City3,Location 1024,10,...,49977,38,450730,FEMALE,PhD,handlers-cleaners,video-games,51500,-74300,India

In [9]:
claim_Demog_policy_test = pd.merge(claim_Demog_test, policy_test, how='left', on=['CustomerID'])
claim_Demog_policy_test

,CustomerID,DateOfIncident,TypeOfIncident,TypeOfCollission,SeverityOfIncident,AuthoritiesContacted,IncidentState,IncidentCity,IncidentAddress,IncidentTime,...,Country,InsurancePolicyNumber,CustomerLoyaltyPeriod,DateOfPolicyCoverage,InsurancePolicyState,Policy_CombinedSingleLimit,Policy_Deductible,PolicyAnnualPremium,UmbrellaLimit,InsuredRelationship
0,Cust10008,2015-02-05,Multi-vehicle Collision,Front Collision,Minor Damage,Ambulance,State5,City2,Location 1354,4,...,India,119129,84,1998-05-10,State2,500/1000,2000,1006.00,0,own-child
1,Cust10010,2015-01-13,Single Vehicle Collision,Rear Collision,Minor Damage,Fire,State9,City5,Location 1383,16,...,India,119131,232,2011-11-10,State3,100/300,500,1279.17,0,unmarried
2,Cust10015,2015-01-05,Multi-vehicle Collision,Rear Collision,Minor Damage,Police,State5,City2,Location 2030,20,...,India,119136,218,2010-07-17,State2,250/500,1000,1454.67,1235986,other-relative
3,Cust10020,2015-01-03,Vehicle Theft,?,Trivial Damage,None,State7,City5,Location 1449,10,...,India,119141,205,2000-09-10,State3,500/500,2000,1287.76,5873212,wife
4,Cust1003,2015-02-22,Multi-vehicle Collision,Rear Collision,Minor Damage,Police,State5,City2,Location 1916,7,...,India,110124,134,2000-09-06,State3,100/300,2000,1413.14,5000000,own-child
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8907,Cust9984,2015-01-17,Single Vehicle Collision,Rear Collision,Total Loss,Police,State5,City4,Location 1958,10,...,India,119105,94,1997-10-23,State3,500/1000,673,1104.02,1959277,wife
8908,Cust9986,2015-02-09,Single Vehicle Collision,Front Collision,Total Loss,Other,State5,City2,Location 1035,19,...,India,119107,115,2001-08-16,State2,250/500,574,961.46,0,husband
8909,Cust9990,2015-02-20,Single Vehicle Collision,Rear Collision,Minor Damage,Other,State5,City2,Location 2037,9,...,India,119111,297,2003-04-14,State2,100/300,1216,1560.49,0,wife
8910,Cust9995,2015-02-22,Single Vehicle Collision,Side Collision,Minor Damage,Police,State8,City3,Location 2097,19,...,India,119116,94,1992-08-21,State2,100/300,1950,1577.48,0,wife
8911,Cust9998,2015-01-14,Single Vehicle Collision,Front Collision,Total Loss,Other,State7,City3,Location 1024,10,...,India,119119,208,2002-03-13,State2,500/1000,2000,928.75,3701890,husband

In [10]:
Fraud_detect_test = pd.merge(claim_Demog_policy_test, vehicle_test, how='left', on=['CustomerID'])
Fraud_detect_test

,CustomerID,DateOfIncident,TypeOfIncident,TypeOfCollission,SeverityOfIncident,AuthoritiesContacted,IncidentState,IncidentCity,IncidentAddress,IncidentTime,...,InsurancePolicyState,Policy_CombinedSingleLimit,Policy_Deductible,PolicyAnnualPremium,UmbrellaLimit,InsuredRelationship,VehicleID,VehicleMake,VehicleModel,VehicleYOM
0,Cust10008,2015-02-05,Multi-vehicle Collision,Front Collision,Minor Damage,Ambulance,State5,City2,Location 1354,4,...,State2,500/1000,2000,1006.00,0,own-child,Vehicle34362,Volkswagen,Passat,1995
1,Cust10010,2015-01-13,Single Vehicle Collision,Rear Collision,Minor Damage,Fire,State9,City5,Location 1383,16,...,State3,100/300,500,1279.17,0,unmarried,Vehicle17046,Nissan,Ultima,2006
2,Cust10015,2015-01-05,Multi-vehicle Collision,Rear Collision,Minor Damage,Police,State5,City2,Location 2030,20,...,State2,250/500,1000,1454.67,1235986,other-relative,Vehicle11038,Suburu,Impreza,2010
3,Cust10020,2015-01-03,Vehicle Theft,?,Trivial Damage,None,State7,City5,Location 1449,10,...,State3,500/500,2000,1287.76,5873212,wife,Vehicle37114,Accura,TL,2009
4,Cust1003,2015-02-22,Multi-vehicle Collision,Rear Collision,Minor Damage,Police,State5,City2,Location 1916,7,...,State3,100/300,2000,1413.14,5000000,own-child,Vehicle16771,Dodge,RAM,2007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8907,Cust9984,2015-01-17,Single Vehicle Collision,Rear Collision,Total Loss,Police,State5,City4,Location 1958,10,...,State3,500/1000,673,1104.02,1959277,wife,Vehicle19062,Saab,95,2000
8908,Cust9986,2015-02-09,Single Vehicle Collision,Front Collision,Total Loss,Other,State5,City2,Location 1035,19,...,State2,250/500,574,961.46,0,husband,Vehicle18191,Saab,92x,2000
8909,Cust9990,2015-02-20,Single Vehicle Collision,Rear Collision,Minor Damage,Other,State5,City2,Location 2037,9,...,State2,100/300,1216,1560.49,0,wife,Vehicle11032,BMW,Civic,1998
8910,Cust9995,2015-02-22,Single Vehicle Collision,Side Collision,Minor Damage,Police,State8,City3,Location 2097,19,...,State2,100/300,1950,1577.48,0,wife,Vehicle30412,Jeep,Grand Cherokee,2002
8911,Cust9998,2015-01-14,Single Vehicle Collision,Front Collision,Total Loss,Other,State7,City3,Location 1024,10,...,State2,500/1000,2000,928.75,3701890,husband,Vehicle2349,Suburu,E400,2007

In [11]:
target_test

     CustomerID
0     Cust10008
1     Cust10010
2     Cust10015
3     Cust10020
4      Cust1003
...         ...
8907  Cust37942
8908  Cust20528
8909  Cust36797
8910  Cust28499
8911  Cust21356

[8912 rows x 1 columns]

In [12]:
Fraud_detect_test.isnull().sum()

CustomerID                    0
DateOfIncident                0
TypeOfIncident                0
TypeOfCollission              0
SeverityOfIncident            0
AuthoritiesContacted          0
IncidentState                 0
IncidentCity                  0
IncidentAddress               0
IncidentTime                  0
NumberOfVehicles              0
PropertyDamage                0
BodilyInjuries                0
Witnesses                     0
PoliceReport                  0
AmountOfTotalClaim            0
AmountOfInjuryClaim           0
AmountOfPropertyClaim         0
AmountOfVehicleDamage         0
InsuredAge                    0
InsuredZipCode                0
InsuredGender                 8
InsuredEducationLevel         0
InsuredOccupation             0
InsuredHobbies                0
CapitalGains                  0
CapitalLoss                   0
Country                       4
InsurancePolicyNumber         0
CustomerLoyaltyPeriod         0
DateOfPolicyCoverage          0
InsurancePolicyState          0
Policy_CombinedSingleLimit    0
Policy_Deductible             0
PolicyAnnualPremium           0
UmbrellaLimit                 0
InsuredRelationship           0
VehicleID                     0
VehicleMake                   0
VehicleModel                  0
VehicleYOM                    0
dtype: int64

In [13]:
for i in Fraud_detect_test.columns:
    print(i,Fraud_detect_test[i].unique())

CustomerID ['Cust10008' 'Cust10010' 'Cust10015' ... 'Cust9990' 'Cust9995' 'Cust9998']
DateOfIncident ['2015-02-05' '2015-01-13' '2015-01-05' '2015-01-03' '2015-02-22'
 '2015-02-06' '2015-01-18' '2015-01-24' '2015-02-26' '2015-01-09'
 '2015-02-03' '2015-02-23' '2015-01-10' '2015-01-12' '2015-01-16'
 '2015-02-08' '2015-01-07' '2015-02-12' '2015-02-09' '2015-02-27'
 '2015-02-13' '2015-01-06' '2015-01-08' '2015-01-17' '2015-01-15'
 '2015-02-10' '2015-01-11' '2015-02-20' '2015-02-18' '2015-02-17'
 '2015-01-22' '2015-01-28' '2015-01-29' '2015-02-24' '2015-01-19'
 '2015-02-04' '2015-01-01' '2015-01-21' '2015-01-20' '2015-02-15'
 '2015-02-14' '2015-02-25' '2015-01-27' '2015-01-25' '2015-02-28'
 '2015-01-14' '2015-01-30' '2015-02-19' '2015-02-21' '2015-02-07'
 '2015-02-02' '2015-01-23' '2015-01-02' '2015-03-03' '2015-03-04'
 '2015-01-04' '2015-01-31' '2015-03-01' '2015-02-11' '2015-01-26'
 '2015-02-16' '2015-03-02' '2015-02-01' '2015-03-07' '2015-03-09'
 '2015-03-05' '2015-03-06']
TypeOfIncident ['Multi-vehicle Collision' 'Single Vehicle Collision' 'Vehicle Theft'
 'Parked Car']
TypeOfCollission ['Front Collision' 'Rear Collision' '?' 'Side Collision']
SeverityOfIncident ['Minor Damage' 'Trivial Damage' 'Major Damage' 'Total Loss']
AuthoritiesContacted ['Ambulance' 'Fire' 'Police' 'None' 'Other']
IncidentState ['State5' 'State9' 'State7' 'State8' 'State3' 'State4' 'State6']
IncidentCity ['City2' 'City5' 'City4' 'City1' 'City3' 'City7' 'City6']
IncidentAddress ['Location 1354' 'Location 1383' 'Location 2030' 'Location 1449'
 'Location 1916' 'Location 1359' 'Location 1781' 'Location 1158'
 'Location 1629' 'Location 1911' 'Location 1339' 'Location 1469'
 'Location 1170' 'Location 1362' 'Location 1842' 'Location 1004'
 'Location 1544' 'Location 2097' 'Location 1920' 'Location 1345'
 'Location 1211' 'Location 1488' 'Location 1942' 'Location 1742'
 'Location 1161' 'Location 1524' 'Location 1115' 'Location 1971'
 'Location 1675' 'Location 1346' 'Location 1944' 'Location 1958'
 'Location 1750' 'Location 1662' 'Location 1523' 'Location 1562'
 'Location 1935' 'Location 1606' 'Location 1961' 'Location 1353'
 'Location 1055' 'Location 1685' 'Location 1546' 'Location 1246'
 'Location 1881' 'Location 1355' 'Location 1623' 'Location 1150'
 'Location 1948' 'Location 1480' 'Location 1155' 'Location 1968'
 'Location 1840' 'Location 1659' 'Location 1760' 'Location 1438'
 'Location 1915' 'Location 1699' 'Location 1227' 'Location 1471'
 'Location 1430' 'Location 1570' 'Location 1439' 'Location 1537'
 'Location 1384' 'Location 1271' 'Location 1303' 'Location 1739'
 'Location 1479' 'Location 1972' 'Location 1950' 'Location 1427'
 'Location 1601' 'Location 1408' 'Location 1090' 'Location 1206'
 'Location 1936' 'Location 1770' 'Location 1733' 'Location 2012'
 'Location 1672' 'Location 1571' 'Location 1293' 'Location 1668'
 'Location 1422' 'Location 1352' 'Location 2087' 'Location 1998'
 'Location 1940' 'Location 1738' 'Location 1795' 'Location 2065'
 'Location 2042' 'Location 1476' 'Location 2052' 'Location 1520'
 'Location 1963' 'Location 1040' 'Location 1970' 'Location 1467'
 'Location 1635' 'Location 1532' 'Location 2072' 'Location 1682'
 'Location 1097' 'Location 1044' 'Location 1517' 'Location 1591'
 'Location 1559' 'Location 2095' 'Location 1094' 'Location 1860'
 'Location 1956' 'Location 1614' 'Location 1432' 'Location 1047'
 'Location 1640' 'Location 1054' 'Location 2089' 'Location 1895'
 'Location 1178' 'Location 1906' 'Location 1807' 'Location 1289'
 'Location 1987' 'Location 1705' 'Location 1267' 'Location 1586'
 'Location 1713' 'Location 1755' 'Location 1901' 'Location 1009'
 'Location 1006' 'Location 1648' 'Location 1341' 'Location 1951'
 'Location 1093' 'Location 1847' 'Location 1002' 'Location 1320'
 'Location 2090' 'Location 2029' 'Location 1885' 'Location 1128'
 'Location 1552' 'Location 1137' 'Location 1819' 'Location 1433'
 'Location 1104' 'Location 1474' 'Location 1069' 'Location 1918'
 'Location 1805' 'Location 1395' 'Location 1146' 'Location 1561'
 'Location 1337' 'Location 1375' 'Location 1754' 'Location 1212'
 'Location 1529' 'Location 2022' 'Location 1737' 'Location 1225'
 'Location 1870' 'Location 1187' 'Location 1994' 'Location 2019'
 'Location 1152' 'Location 1741' 'Location 1159' 'Location 1196'
 'Location 1218' 'Location 1907' 'Location 1813' 'Location 1045'
 'Location 1697' 'Location 1123' 'Location 2006' 'Location 1822'
 'Location 1712' 'Location 1085' 'Location 1912' 'Location 1421'
 'Location 1444' 'Location 1597' 'Location 1257' 'Location 1993'
 'Location 1751' 'Location 1282' 'Location 1297' 'Location 1017'
 'Location 1677' 'Location 1519' 'Location 1086' 'Location 1511'
 'Location 1796' 'Location 1477' 'Location 1646' 'Location 1186'
 'Location 1176' 'Location 2045' 'Location 1801' 'Location 1473'
 'Location 2017' 'Location 2048' 'Location 1703' 'Location 1029'
 'Location 1938' 'Location 1789' 'Location 1011' 'Location 1171'
 'Location 1133' 'Location 1057' 'Location 1919' 'Location 1996'
 'Location 1035' 'Location 1404' 'Location 1612' 'Location 1602'
 'Location 1179' 'Location 1671' 'Location 1709' 'Location 1988'
 'Location 1321' 'Location 1310' 'Location 1726' 'Location 1649'
 'Location 2028' 'Location 1087' 'Location 2023' 'Location 1024'
 'Location 1576' 'Location 1005' 'Location 1694' 'Location 1513'
 'Location 1959' 'Location 1728' 'Location 1441' 'Location 1424'
 'Location 1288' 'Location 1294' 'Location 1221' 'Location 1373'
 'Location 1021' 'Location 1873' 'Location 1791' 'Location 1775'
 'Location 1379' 'Location 1120' 'Location 1638' 'Location 1864'
 'Location 1012' 'Location 1144' 'Location 1106' 'Location 1038'
 'Location 2034' 'Location 1149' 'Location 1757' 'Location 1428'
 'Location 1706' 'Location 1231' 'Location 1222' 'Location 1521'
 'Location 1641' 'Location 1779' 'Location 1015' 'Location 1460'
 'Location 1543' 'Location 1419' 'Location 1370' 'Location 1326'
 'Location 1402' 'Location 1358' 'Location 1683' 'Location 2098'
 'Location 1173' 'Location 1853' 'Location 1667' 'Location 1436'
 'Location 1999' 'Location 1823' 'Location 2016' 'Location 1098'
 'Location 1798' 'Location 1434' 'Location 1312' 'Location 2082'
 'Location 1489' 'Location 1670' 'Location 1486' 'Location 1663'
 'Location 1832' 'Location 1076' 'Location 2091' 'Location 2100'
 'Location 1160' 'Location 1426' 'Location 1100' 'Location 1237'
 'Location 2014' 'Location 1451' 'Location 1680' 'Location 1245'
 'Location 1238' 'Location 1308' 'Location 1555' 'Location 1735'
 'Location 1785' 'Location 1927' 'Location 1302' 'Location 1117'
 'Location 1058' 'Location 1365' 'Location 1839' 'Location 1020'
 'Location 1060' 'Location 1453' 'Location 1979' 'Location 1316'
 'Location 1811' 'Location 1504' 'Location 1851' 'Location 1507'
 'Location 1305' 'Location 1304' 'Location 1016' 'Location 1818'
 'Location 1164' 'Location 1412' 'Location 1198' 'Location 1068'
 'Location 1859' 'Location 2002' 'Location 1673' 'Location 1414'
 'Location 1600' 'Location 1351' 'Location 1291' 'Location 1790'
 'Location 1769' 'Location 1804' 'Location 1604' 'Location 1688'
 'Location 1204' 'Location 1281' 'Location 1596' 'Location 1099'
 'Location 1905' 'Location 1301' 'Location 1269' 'Location 1698'
 'Location 1871' 'Location 1921' 'Location 2061' 'Location 1786'
 'Location 2079' 'Location 1360' 'Location 1349' 'Location 1223'
 'Location 1273' 'Location 1743' 'Location 1729' 'Location 2096'
 'Location 1627' 'Location 1080' 'Location 1608' 'Location 1843'
 'Location 1184' 'Location 1418' 'Location 1821' 'Location 1406'
 'Location 1835' 'Location 1052' 'Location 1744' 'Location 1803'
 'Location 1515' 'Location 2066' 'Location 1330' 'Location 1051'
 'Location 1062' 'Location 1053' 'Location 1509' 'Location 1876'
 'Location 1569' 'Location 1167' 'Location 1228' 'Location 1244'
 'Location 1189' 'Location 1690' 'Location 1502' 'Location 1361'
 'Location 1654' 'Location 2060' 'Location 1242' 'Location 1200'
 'Location 1445' 'Location 1249' 'Location 1230' 'Location 1139'
 'Location 1700' 'Location 1650' 'Location 1381' 'Location 1639'
 'Location 1945' 'Location 1067' 'Location 1466' 'Location 2062'
 'Location 1548' 'Location 1078' 'Location 1465' 'Location 1554'
 'Location 1437' 'Location 1695' 'Location 1862' 'Location 1037'
 'Location 1568' 'Location 1884' 'Location 1730' 'Location 1285'
 'Location 1855' 'Location 1497' 'Location 1666' 'Location 1236'
 'Location 1844' 'Location 1553' 'Location 1952' 'Location 1664'
 'Location 1059' 'Location 1748' 'Location 1239' 'Location 1092'
 'Location 1904' 'Location 1003' 'Location 1213' 'Location 2018'
 'Location 2075' 'Location 1827' 'Location 1828' 'Location 1643'
 'Location 1593' 'Location 1910' 'Location 1074' 'Location 1990'
 'Location 1928' 'Location 1083' 'Location 1296' 'Location 1630'
 'Location 2037' 'Location 1108' 'Location 1363' 'Location 1385'
 'Location 1050' 'Location 1483' 'Location 1450' 'Location 1240'
 'Location 1556' 'Location 1756' 'Location 1845' 'Location 1193'
 'Location 1111' 'Location 1584' 'Location 1287' 'Location 1793'
 'Location 1112' 'Location 1941' 'Location 1877' 'Location 1348'
 'Location 1307' 'Location 2026' 'Location 1816' 'Location 1749'
 'Location 1356' 'Location 1534' 'Location 1387' 'Location 2032'
 'Location 1875' 'Location 1669' 'Location 1880' 'Location 1185'
 'Location 1747' 'Location 1495' 'Location 2001' 'Location 1136'
 'Location 1391' 'Location 1457' 'Location 1610' 'Location 1617'
 'Location 1492' 'Location 1276' 'Location 2067' 'Location 1609'
 'Location 1195' 'Location 2076' 'Location 1874' 'Location 1759'
 'Location 2041' 'Location 1538' 'Location 1989' 'Location 2092'
 'Location 1633' 'Location 1514' 'Location 1774' 'Location 1908'
 'Location 2088' 'Location 1140' 'Location 1403' 'Location 1772'
 'Location 1366' 'Location 1482' 'Location 1574' 'Location 1655'
 'Location 1505' 'Location 1585' 'Location 2044' 'Location 1642'
 'Location 2078' 'Location 2081' 'Location 1049' 'Location 1401'
 'Location 2068' 'Location 1118' 'Location 1535' 'Location 1588'
 'Location 1390' 'Location 1573' 'Location 1235' 'Location 1752'
 'Location 1435' 'Location 1494' 'Location 1658' 'Location 1400'
 'Location 1286' 'Location 1275' 'Location 1147' 'Location 1715'
 'Location 1036' 'Location 1141' 'Location 1866' 'Location 1645'
 'Location 1966' 'Location 1624' 'Location 1026' 'Location 1883'
 'Location 1030' 'Location 1580' 'Location 1124' 'Location 1974'
 'Location 1256' 'Location 1292' 'Location 1778' 'Location 1788'
 'Location 1042' 'Location 1127' 'Location 1295' 'Location 1298'
 'Location 1172' 'Location 1327' 'Location 1498' 'Location 1063'
 'Location 1407' 'Location 1217' 'Location 1815' 'Location 1110'
 'Location 2056' 'Location 1833' 'Location 1618' 'Location 2077'
 'Location 1909' 'Location 1309' 'Location 1834' 'Location 1983'
 'Location 1077' 'Location 1261' 'Location 1338' 'Location 2007'
 'Location 2049' 'Location 1863' 'Location 1985' 'Location 1232'
 'Location 1364' 'Location 1182' 'Location 1582' 'Location 1046'
 'Location 1468' 'Location 1028' 'Location 1955' 'Location 1564'
 'Location 1103' 'Location 1720' 'Location 1001' 'Location 1962'
 'Location 1039' 'Location 1019' 'Location 1258' 'Location 1255'
 'Location 1954' 'Location 1969' 'Location 1417' 'Location 1656'
 'Location 2085' 'Location 1175' 'Location 2046' 'Location 1192'
 'Location 1753' 'Location 1183' 'Location 2003' 'Location 1084'
 'Location 1410' 'Location 1734' 'Location 1740' 'Location 2059'
 'Location 1731' 'Location 2051' 'Location 1129' 'Location 1409'
 'Location 1442' 'Location 1119' 'Location 1882' 'Location 1007'
 'Location 1723' 'Location 1081' 'Location 1800' 'Location 1872'
 'Location 1064' 'Location 1344' 'Location 1209' 'Location 1496'
 'Location 2033' 'Location 1392' 'Location 1481' 'Location 1686'
 'Location 1934' 'Location 1632' 'Location 1981' 'Location 1157'
 'Location 1579' 'Location 1799' 'Location 1446' 'Location 1135'
 'Location 1931' 'Location 1056' 'Location 1991' 'Location 1867'
 'Location 1251' 'Location 1376' 'Location 1787' 'Location 1219'
 'Location 1792' 'Location 1717' 'Location 1177' 'Location 1900'
 'Location 1105' 'Location 1452' 'Location 1440' 'Location 1583'
 'Location 1541' 'Location 1411' 'Location 1634' 'Location 1577'
 'Location 1917' 'Location 1824' 'Location 1619' 'Location 1926'
 'Location 1491' 'Location 1967' 'Location 1626' 'Location 1977'
 'Location 1109' 'Location 1290' 'Location 1615' 'Location 1587'
 'Location 1431' 'Location 1567' 'Location 1644' 'Location 1262'
 'Location 1114' 'Location 2005' 'Location 1628' 'Location 1929'
 'Location 1890' 'Location 1121' 'Location 1416' 'Location 1199'
 'Location 2000' 'Location 1220' 'Location 1846' 'Location 1023'
 'Location 1188' 'Location 1423' 'Location 1889' 'Location 1810'
 'Location 1013' 'Location 1868' 'Location 1714' 'Location 1032'
 'Location 1865' 'Location 1368' 'Location 1982' 'Location 1598'
 'Location 1684' 'Location 1997' 'Location 1718' 'Location 1485'
 'Location 1767' 'Location 1661' 'Location 1765' 'Location 1892'
 'Location 1696' 'Location 1594' 'Location 1214' 'Location 1957'
 'Location 1025' 'Location 1500' 'Location 1595' 'Location 1194'
 'Location 1280' 'Location 1547' 'Location 1518' 'Location 1621'
 'Location 1089' 'Location 1947' 'Location 1340' 'Location 1949'
 'Location 1776' 'Location 1315' 'Location 1886' 'Location 1313'
 'Location 1563' 'Location 1716' 'Location 1153' 'Location 1207'
 'Location 1516' 'Location 1215' 'Location 1854' 'Location 1343'
 'Location 1073' 'Location 1746' 'Location 1771' 'Location 1263'
 'Location 1041' 'Location 1131' 'Location 1678' 'Location 2057'
 'Location 1539' 'Location 1311' 'Location 1812' 'Location 1174'
 'Location 1397' 'Location 2038' 'Location 1259' 'Location 1443'
 'Location 1096' 'Location 1102' 'Location 1528' 'Location 1861'
 'Location 1253' 'Location 1464' 'Location 1829' 'Location 1560'
 'Location 1405' 'Location 1010' 'Location 1234' 'Location 1530'
 'Location 2053' 'Location 1701' 'Location 1072' 'Location 1168'
 'Location 1357' 'Location 1393' 'Location 1768' 'Location 1048'
 'Location 1566' 'Location 1454' 'Location 1250' 'Location 1134'
 'Location 1973' 'Location 1978' 'Location 1725' 'Location 2010'
 'Location 1506' 'Location 1964' 'Location 1459' 'Location 1922'
 'Location 1367' 'Location 1116' 'Location 1888' 'Location 1660'
 'Location 1266' 'Location 1975' 'Location 1277' 'Location 1549'
 'Location 1369' 'Location 1300' 'Location 1413' 'Location 1325'
 'Location 1893' 'Location 1398' 'Location 1033' 'Location 1849'
 'Location 1724' 'Location 1647' 'Location 1456' 'Location 1681'
 'Location 1241' 'Location 1611' 'Location 1704' 'Location 1976'
 'Location 1247' 'Location 1937' 'Location 2080' 'Location 1540'
 'Location 1806' 'Location 1820' 'Location 1898' 'Location 1066'
 'Location 1254' 'Location 1014' 'Location 1836' 'Location 2054'
 'Location 1536' 'Location 1965' 'Location 1122' 'Location 1687'
 'Location 1079' 'Location 1101' 'Location 1676' 'Location 2009'
 'Location 1780' 'Location 1551' 'Location 1707' 'Location 1902'
 'Location 1826' 'Location 1986' 'Location 2013' 'Location 1722'
 'Location 1692' 'Location 1499' 'Location 1264' 'Location 1620'
 'Location 1939' 'Location 1830' 'Location 1693' 'Location 2099'
 'Location 1777' 'Location 1475' 'Location 1825' 'Location 1162'
 'Location 2071' 'Location 2074' 'Location 1953' 'Location 1856'
 'Location 2069' 'Location 2084' 'Location 1270' 'Location 1071'
 'Location 1145' 'Location 1082' 'Location 2083' 'Location 1858'
 'Location 1616' 'Location 1425' 'Location 1783' 'Location 1691'
 'Location 2027' 'Location 1260' 'Location 2058' 'Location 1374'
 'Location 1216' 'Location 1817' 'Location 1894' 'Location 2040'
 'Location 1631' 'Location 1745' 'Location 1896' 'Location 1558'
 'Location 1808' 'Location 1764' 'Location 1389' 'Location 1455'
 'Location 1652' 'Location 1278' 'Location 2093' 'Location 1903'
 'Location 1061' 'Location 1378' 'Location 1665' 'Location 1721'
 'Location 1625' 'Location 1070' 'Location 1458' 'Location 1784'
 'Location 1201' 'Location 1202' 'Location 2020' 'Location 1689'
 'Location 1850' 'Location 2024' 'Location 1151' 'Location 2043'
 'Location 1809' 'Location 1490' 'Location 1043' 'Location 2086'
 'Location 1960' 'Location 1169' 'Location 1758' 'Location 1008'
 'Location 1525' 'Location 1613' 'Location 1484' 'Location 1388'
 'Location 1399' 'Location 1581' 'Location 1763' 'Location 1394'
 'Location 1332' 'Location 1762' 'Location 1531' 'Location 1336'
 'Location 1653' 'Location 1869' 'Location 1924' 'Location 1943'
 'Location 1679' 'Location 1727' 'Location 1027' 'Location 1462'
 'Location 1831' 'Location 1396' 'Location 1510' 'Location 1719'
 'Location 1165' 'Location 1708' 'Location 1773' 'Location 1324'
 'Location 1447' 'Location 1226' 'Location 2070' 'Location 1503'
 'Location 1210' 'Location 1913' 'Location 1031' 'Location 2015'
 'Location 1268' 'Location 2094' 'Location 2047' 'Location 1838'
 'Location 1018' 'Location 2004' 'Location 2035' 'Location 1802'
 'Location 1710' 'Location 1329' 'Location 1992' 'Location 1501'
 'Location 1542' 'Location 1318' 'Location 1248' 'Location 1736'
 'Location 1732' 'Location 1914' 'Location 1380' 'Location 1203'
 'Location 1272' 'Location 1319' 'Location 1794' 'Location 1522'
 'Location 1995' 'Location 1065' 'Location 1837' 'Location 1377'
 'Location 1143' 'Location 1156' 'Location 1448' 'Location 1163'
 'Location 1841' 'Location 1181' 'Location 1148' 'Location 1674'
 'Location 1126' 'Location 2055' 'Location 2036' 'Location 1557'
 'Location 1386' 'Location 2021' 'Location 1930' 'Location 1463'
 'Location 1879' 'Location 1508' 'Location 1923' 'Location 1333'
 'Location 1526' 'Location 1328' 'Location 1572' 'Location 1284']
IncidentTime [ 4 16 20 10  7 22  6 14 15 19 12 17 18  5 13 11 23  8 21  9  3  2  1  0
 -5]
NumberOfVehicles [3 1 2 4]
PropertyDamage ['NO' '?' 'YES']
BodilyInjuries [0 1 2]
Witnesses ['0' '1' '3' '2' 'MISSINGVALUE']
PoliceReport ['?' 'NO' 'YES']
AmountOfTotalClaim ['68354' '55270' '59515' ... '65328' '71118' '67499']
AmountOfInjuryClaim [ 6835  8113  7490 ...  5184 11977 11681]
AmountOfPropertyClaim [8059 5240 9110 ... 9219 9698 5841]
AmountOfVehicleDamage [53460 41917 42915 ... 43592 47537 49977]
InsuredAge [27 40 39 38 29 55 28 33 42 31 34 49 47 43 48 37 32 21 44 26 53 58 41 51
 35 25 30 36 46 45 54 50 63 56 61 60 23 59 52 57 24 62 22 64 20 19]
InsuredZipCode [471704 455810 461919 600904 430632 445339 442142 460760 605258 478703
 466498 476185 435995 443861 460801 471806 435299 462479 601961 614385
 438584 603195 604681 606487 466818 445638 618455 616161 608813 435100
 431278 432220 619892 440833 441370 458733 471519 447458 605756 607605
 465979 446898 453274 464646 472135 606177 477670 468104 604289 614948
 620493 450368 432148 441363 463184 476737 475173 436173 446755 443344
 464743 444232 470866 446174 606638 618655 443191 609322 602304 432211
 609837 603260 463291 431354 430232 479821 473394 615229 610393 461275
 442695 442604 431496 607889 432786 450800 468634 600184 619657 437323
 615821 615218 464145 441425 435967 453620 614521 465921 471786 459428
 600648 445120 600208 620962 462420 440680 462106 446971 435534 434733
 468767 614941 460517 439964 431104 600127 452218 456570 436560 601574
 472236 602500 609930 614867 613945 460586 613842 612102 430104 612664
 441726 467784 454529 620104 609898 603639 614169 465376 452456 457722
 474758 431968 468168 449557 444922 474324 446606 447976 468303 464107
 477346 460564 465100 602416 431389 617970 469875 477415 443342 433184
 454480 438617 438546 459630 473370 452597 469363 477947 470510 431289
 614417 472814 606606 463809 476978 609409 440831 435371 617739 450702
 439929 476130 612904 463307 454176 468702 454139 614372 603123 432699
 602670 459295 474998 618498 468202 452787 615383 432405 466137 457875
 472895 464665 432934 456959 608405 615921 432711 606219 475891 603381
 613921 458997 474598 459537 449352 443402 459889 466238 443625 477938
 462698 605121 453713 440961 477644 608177 612260 610706 601734 601177

In [14]:
Fraud_detect_test['TypeOfCollission']=Fraud_detect_test['TypeOfCollission'].replace('?',np.nan)
Fraud_detect_test['PropertyDamage']=Fraud_detect_test['PropertyDamage'].replace('?',np.nan)
Fraud_detect_test['PoliceReport']=Fraud_detect_test['PoliceReport'].replace('?',np.nan)
Fraud_detect_test['VehicleMake']=Fraud_detect_test['VehicleMake'].replace('???',np.nan)
Fraud_detect_test['Witnesses']=Fraud_detect_test['Witnesses'].replace('MISSINGVALUE',np.nan)

In [15]:
Fraud_detect_test['TypeOfCollission'].unique()

array(['Front Collision', 'Rear Collision', nan, 'Side Collision'],
      dtype=object)

In [16]:
Fraud_detect_test.isna().sum()

CustomerID                       0
DateOfIncident                   0
TypeOfIncident                   0
TypeOfCollission              1763
SeverityOfIncident               0
AuthoritiesContacted             0
IncidentState                    0
IncidentCity                     0
IncidentAddress                  0
IncidentTime                     0
NumberOfVehicles                 0
PropertyDamage                3199
BodilyInjuries                   0
Witnesses                       12
PoliceReport                  3014
AmountOfTotalClaim               0
AmountOfInjuryClaim              0
AmountOfPropertyClaim            0
AmountOfVehicleDamage            0
InsuredAge                       0
InsuredZipCode                   0
InsuredGender                    8
InsuredEducationLevel            0
InsuredOccupation                0
InsuredHobbies                   0
CapitalGains                     0
CapitalLoss                      0
Country                          4
InsurancePolicyNumber            0
CustomerLoyaltyPeriod            0
DateOfPolicyCoverage             0
InsurancePolicyState             0
Policy_CombinedSingleLimit       0
Policy_Deductible                0
PolicyAnnualPremium              0
UmbrellaLimit                    0
InsuredRelationship              0
VehicleID                        0
VehicleMake                      8
VehicleModel                     0
VehicleYOM                       0
dtype: int64

In [17]:
Fraud_detect_test.isna().mean().sort_values()

CustomerID                    0.000000
InsuredEducationLevel         0.000000
InsuredOccupation             0.000000
InsuredHobbies                0.000000
CapitalGains                  0.000000
CapitalLoss                   0.000000
InsurancePolicyNumber         0.000000
CustomerLoyaltyPeriod         0.000000
DateOfPolicyCoverage          0.000000
InsurancePolicyState          0.000000
Policy_CombinedSingleLimit    0.000000
Policy_Deductible             0.000000
PolicyAnnualPremium           0.000000
UmbrellaLimit                 0.000000
InsuredRelationship           0.000000
VehicleID                     0.000000
VehicleModel                  0.000000
InsuredAge                    0.000000
InsuredZipCode                0.000000
AmountOfPropertyClaim         0.000000
DateOfIncident                0.000000
TypeOfIncident                0.000000
SeverityOfIncident            0.000000
AuthoritiesContacted          0.000000
IncidentState                 0.000000
IncidentCity                  0.000000
IncidentAddress               0.000000
AmountOfVehicleDamage         0.000000
IncidentTime                  0.000000
BodilyInjuries                0.000000
AmountOfTotalClaim            0.000000
AmountOfInjuryClaim           0.000000
NumberOfVehicles              0.000000
VehicleYOM                    0.000000
Country                       0.000449
InsuredGender                 0.000898
VehicleMake                   0.000898
Witnesses                     0.001346
TypeOfCollission              0.197823
PoliceReport                  0.338196
PropertyDamage                0.358954
dtype: float64

In [18]:
Fraud_detect_test.dtypes

CustomerID                     object
DateOfIncident                 object
TypeOfIncident                 object
TypeOfCollission               object
SeverityOfIncident             object
AuthoritiesContacted           object
IncidentState                  object
IncidentCity                   object
IncidentAddress                object
IncidentTime                    int64
NumberOfVehicles                int64
PropertyDamage                 object
BodilyInjuries                  int64
Witnesses                      object
PoliceReport                   object
AmountOfTotalClaim             object
AmountOfInjuryClaim             int64
AmountOfPropertyClaim           int64
AmountOfVehicleDamage           int64
InsuredAge                      int64
InsuredZipCode                  int64
InsuredGender                  object
InsuredEducationLevel          object
InsuredOccupation              object
InsuredHobbies                 object
CapitalGains                    int64
CapitalLoss                     int64
Country                        object
InsurancePolicyNumber           int64
CustomerLoyaltyPeriod           int64
DateOfPolicyCoverage           object
InsurancePolicyState           object
Policy_CombinedSingleLimit     object
Policy_Deductible               int64
PolicyAnnualPremium           float64
UmbrellaLimit                   int64
InsuredRelationship            object
VehicleID                      object
VehicleMake                    object
VehicleModel                   object
VehicleYOM                     object
dtype: object

In [19]:
Fraud_detect_test['TypeOfCollission']=Fraud_detect_test['TypeOfCollission'].fillna(method="ffill")
Fraud_detect_test['PropertyDamage']=Fraud_detect_test['PropertyDamage'].fillna(method="bfill")
Fraud_detect_test['InsuredGender']=Fraud_detect_test['InsuredGender'].fillna(method="ffill")
Fraud_detect_test['PoliceReport']=Fraud_detect_test['PoliceReport'].fillna(method="bfill")
Fraud_detect_test['VehicleMake']=Fraud_detect_test['VehicleMake'].fillna(method="ffill")
Fraud_detect_test['Witnesses']=Fraud_detect_test['Witnesses'].fillna(method="ffill")
Fraud_detect_test['Country']=Fraud_detect_test['Country'].fillna(method="ffill")

In [20]:
Fraud_detect_test['PropertyDamage'].nunique()

2

In [21]:
Fraud_detect_test['PropertyDamage'].unique()

array(['NO', 'YES', nan], dtype=object)

In [22]:
Fraud_detect_test.isna().sum()

CustomerID                    0
DateOfIncident                0
TypeOfIncident                0
TypeOfCollission              0
SeverityOfIncident            0
AuthoritiesContacted          0
IncidentState                 0
IncidentCity                  0
IncidentAddress               0
IncidentTime                  0
NumberOfVehicles              0
PropertyDamage                1
BodilyInjuries                0
Witnesses                     0
PoliceReport                  1
AmountOfTotalClaim            0
AmountOfInjuryClaim           0
AmountOfPropertyClaim         0
AmountOfVehicleDamage         0
InsuredAge                    0
InsuredZipCode                0
InsuredGender                 0
InsuredEducationLevel         0
InsuredOccupation             0
InsuredHobbies                0
CapitalGains                  0
CapitalLoss                   0
Country                       0
InsurancePolicyNumber         0
CustomerLoyaltyPeriod         0
DateOfPolicyCoverage          0
InsurancePolicyState          0
Policy_CombinedSingleLimit    0
Policy_Deductible             0
PolicyAnnualPremium           0
UmbrellaLimit                 0
InsuredRelationship           0
VehicleID                     0
VehicleMake                   0
VehicleModel                  0
VehicleYOM                    0
dtype: int64

In [23]:
Fraud_detect_test.drop(Fraud_detect_test[['DateOfIncident','VehicleID' ,'InsuredHobbies','Country']], axis=1, inplace=True)

In [24]:
Fraud_detect_test['Witnesses'] = pd.to_numeric(Fraud_detect_test['Witnesses'], errors='coerce')
Fraud_detect_test['AmountOfTotalClaim'] = pd.to_numeric(Fraud_detect_test['AmountOfTotalClaim'], errors='coerce')
Fraud_detect_test['VehicleYOM'] = pd.to_numeric(Fraud_detect_test['VehicleYOM'], errors='coerce')

In [25]:
pd.set_option('display.max_columns', None)
obj_test=Fraud_detect_test.select_dtypes(include ='object')
obj_test.drop(obj_test[['CustomerID']], axis=1, inplace=True)

In [26]:
class LabelEncoder:
    def __init__(self):
        self.labels = {}

    def fit_transform(self, y):
        unique_labels = set(y)
        for i, label in enumerate(unique_labels):
            self.labels[label] = i

        encoded_labels = []
        for label in y:
            encoded_labels.append(self.labels[label])

        return encoded_labels

    def inverse_transform(self, y):
        inv_labels = {v: k for k, v in self.labels.items()}

        decoded_labels = []
        for label in y:
            decoded_labels.append(inv_labels[label])

        return decoded_labels

In [27]:
encoded_test={}
for i in obj_test.columns:
    le = LabelEncoder()
    encoded_data_test = le.fit_transform(obj_test[i])
    encoded_test[i]=encoded_data_test
encoded_test
df_test=pd.DataFrame(encoded_test)
pd.set_option('display.max_columns', None)
df_test.columns

Index(['TypeOfIncident', 'TypeOfCollission', 'SeverityOfIncident',
       'AuthoritiesContacted', 'IncidentState', 'IncidentCity',
       'IncidentAddress', 'PropertyDamage', 'PoliceReport', 'InsuredGender',
       'InsuredEducationLevel', 'InsuredOccupation', 'DateOfPolicyCoverage',
       'InsurancePolicyState', 'Policy_CombinedSingleLimit',
       'InsuredRelationship', 'VehicleMake', 'VehicleModel'],
      dtype='object')

In [28]:
Fraud_detect_test.drop(Fraud_detect_test[['TypeOfIncident', 'TypeOfCollission', 'SeverityOfIncident',
       'AuthoritiesContacted', 'IncidentState', 'IncidentCity',
       'IncidentAddress', 'PropertyDamage', 'PoliceReport', 'InsuredGender',
       'InsuredEducationLevel', 'InsuredOccupation', 'DateOfPolicyCoverage',
       'InsurancePolicyState', 'Policy_CombinedSingleLimit',
       'InsuredRelationship', 'VehicleMake', 'VehicleModel']], axis=1, inplace=True)

In [29]:
Fraud_detect_test

,CustomerID,IncidentTime,NumberOfVehicles,BodilyInjuries,Witnesses,AmountOfTotalClaim,AmountOfInjuryClaim,AmountOfPropertyClaim,AmountOfVehicleDamage,InsuredAge,InsuredZipCode,CapitalGains,CapitalLoss,InsurancePolicyNumber,CustomerLoyaltyPeriod,Policy_Deductible,PolicyAnnualPremium,UmbrellaLimit,VehicleYOM
0,Cust10008,4,3,0,0,68354.0,6835,8059,53460,27,471704,56400,-57000,119129,84,2000,1006.00,0,1995
1,Cust10010,16,1,1,1,55270.0,8113,5240,41917,40,455810,56700,-65600,119131,232,500,1279.17,0,2006
2,Cust10015,20,3,0,1,59515.0,7490,9110,42915,39,461919,30400,0,119136,218,1000,1454.67,1235986,2010
3,Cust10020,10,1,2,1,4941.0,494,866,3581,38,600904,68500,0,119141,205,2000,1287.76,5873212,2009
4,Cust1003,7,3,2,3,34650.0,7700,3850,23100,29,430632,35100,0,110124,134,2000,1413.14,5000000,2007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8907,Cust9984,10,1,1,0,61296.0,5785,8861,46650,28,446435,0,-53700,119105,94,673,1104.02,1959277,2000
8908,Cust9986,19,1,1,1,86729.0,9698,9698,67333,30,438237,39600,-64300,119107,115,574,961.46,0,2000
8909,Cust9990,9,1,1,2,65328.0,12455,9281,43592,44,450339,25000,0,119111,297,1216,1560.49,0,1998
8910,Cust9995,19,1,0,2,71118.0,11977,11604,47537,29,439304,75800,-28800,119116,94,1950,1577.48,0,2002
8911,Cust9998,10,1,2,2,67499.0,11681,5841,49977,38,450730,51500,-74300,119119,208,2000,928.75,3701890,2007

In [30]:
final_test = pd.concat([Fraud_detect_test, df_test], axis=1)
final_test

,CustomerID,IncidentTime,NumberOfVehicles,BodilyInjuries,Witnesses,AmountOfTotalClaim,AmountOfInjuryClaim,AmountOfPropertyClaim,AmountOfVehicleDamage,InsuredAge,InsuredZipCode,CapitalGains,CapitalLoss,InsurancePolicyNumber,CustomerLoyaltyPeriod,Policy_Deductible,PolicyAnnualPremium,UmbrellaLimit,VehicleYOM,TypeOfIncident,TypeOfCollission,SeverityOfIncident,AuthoritiesContacted,IncidentState,IncidentCity,IncidentAddress,PropertyDamage,PoliceReport,InsuredGender,InsuredEducationLevel,InsuredOccupation,DateOfPolicyCoverage,InsurancePolicyState,Policy_CombinedSingleLimit,InsuredRelationship,VehicleMake,VehicleModel
0,Cust10008,4,3,0,0,68354.0,6835,8059,53460,27,471704,56400,-57000,119129,84,2000,1006.00,0,1995,2,1,0,2,6,1,252,1,1,0,0,7,2405,1,4,3,13,6
1,Cust10010,16,1,1,1,55270.0,8113,5240,41917,40,455810,56700,-65600,119131,232,500,1279.17,0,2006,1,0,0,3,4,5,745,1,1,0,1,12,2008,2,3,4,5,35
2,Cust10015,20,3,0,1,59515.0,7490,9110,42915,39,461919,30400,0,119136,218,1000,1454.67,1235986,2010,2,0,0,0,6,1,180,1,1,1,4,11,3404,1,2,5,11,2
3,Cust10020,10,1,2,1,4941.0,494,866,3581,38,600904,68500,0,119141,205,2000,1287.76,5873212,2009,0,0,3,4,1,5,616,1,1,0,5,2,3507,2,8,1,2,15
4,Cust1003,7,3,2,3,34650.0,7700,3850,23100,29,430632,35100,0,110124,134,2000,1413.14,5000000,2007,2,0,0,0,6,1,698,1,1,0,3,0,10,2,3,3,10,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8907,Cust9984,10,1,1,0,61296.0,5785,8861,46650,28,446435,0,-53700,119105,94,673,1104.02,1959277,2000,1,0,1,0,6,0,339,2,1,1,2,3,3375,2,4,1,7,17
8908,Cust9986,19,1,1,1,86729.0,9698,9698,67333,30,438237,39600,-64300,119107,115,574,961.46,0,2000,1,1,1,1,6,1,34,2,2,0,2,1,1884,1,2,2,7,3
8909,Cust9990,9,1,1,2,65328.0,12455,9281,43592,44,450339,25000,0,119111,297,1216,1560.49,0,1998,1,0,0,1,6,1,301,2,1,0,0,4,3762,1,3,1,8,4
8910,Cust9995,19,1,0,2,71118.0,11977,11604,47537,29,439304,75800,-28800,119116,94,1950,1577.48,0,2002,1,2,0,0,5,6,368,2,2,1,3,10,4283,1,3,1,6,0
8911,Cust9998,10,1,2,2,67499.0,11681,5841,49977,38,450730,51500,-74300,119119,208,2000,928.75,3701890,2007,1,1,1,1,1,6,597,0,0,0,3,5,130,1,4,2,11,19

In [31]:
final_test.set_index('CustomerID',inplace=True)

In [32]:
final_test

,IncidentTime,NumberOfVehicles,BodilyInjuries,Witnesses,AmountOfTotalClaim,AmountOfInjuryClaim,AmountOfPropertyClaim,AmountOfVehicleDamage,InsuredAge,InsuredZipCode,CapitalGains,CapitalLoss,InsurancePolicyNumber,CustomerLoyaltyPeriod,Policy_Deductible,PolicyAnnualPremium,UmbrellaLimit,VehicleYOM,TypeOfIncident,TypeOfCollission,SeverityOfIncident,AuthoritiesContacted,IncidentState,IncidentCity,IncidentAddress,PropertyDamage,PoliceReport,InsuredGender,InsuredEducationLevel,InsuredOccupation,DateOfPolicyCoverage,InsurancePolicyState,Policy_CombinedSingleLimit,InsuredRelationship,VehicleMake,VehicleModel
CustomerID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Cust10008,4,3,0,0,68354.0,6835,8059,53460,27,471704,56400,-57000,119129,84,2000,1006.00,0,1995,2,1,0,2,6,1,252,1,1,0,0,7,2405,1,4,3,13,6
Cust10010,16,1,1,1,55270.0,8113,5240,41917,40,455810,56700,-65600,119131,232,500,1279.17,0,2006,1,0,0,3,4,5,745,1,1,0,1,12,2008,2,3,4,5,35
Cust10015,20,3,0,1,59515.0,7490,9110,42915,39,461919,30400,0,119136,218,1000,1454.67,1235986,2010,2,0,0,0,6,1,180,1,1,1,4,11,3404,1,2,5,11,2
Cust10020,10,1,2,1,4941.0,494,866,3581,38,600904,68500,0,119141,205,2000,1287.76,5873212,2009,0,0,3,4,1,5,616,1,1,0,5,2,3507,2,8,1,2,15
Cust1003,7,3,2,3,34650.0,7700,3850,23100,29,430632,35100,0,110124,134,2000,1413.14,5000000,2007,2,0,0,0,6,1,698,1,1,0,3,0,10,2,3,3,10,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Cust9984,10,1,1,0,61296.0,5785,8861,46650,28,446435,0,-53700,119105,94,673,1104.02,1959277,2000,1,0,1,0,6,0,339,2,1,1,2,3,3375,2,4,1,7,17
Cust9986,19,1,1,1,86729.0,9698,9698,67333,30,438237,39600,-64300,119107,115,574,961.46,0,2000,1,1,1,1,6,1,34,2,2,0,2,1,1884,1,2,2,7,3
Cust9990,9,1,1,2,65328.0,12455,9281,43592,44,450339,25000,0,119111,297,1216,1560.49,0,1998,1,0,0,1,6,1,301,2,1,0,0,4,3762,1,3,1,8,4
Cust9995,19,1,0,2,71118.0,11977,11604,47537,29,439304,75800,-28800,119116,94,1950,1577.48,0,2002,1,2,0,0,5,6,368,2,2,1,3,10,4283,1,3,1,6,0
Cust9998,10,1,2,2,67499.0,11681,5841,49977,38,450730,51500,-74300,119119,208,2000,928.75,3701890,2007,1,1,1,1,1,6,597,0,0,0,3,5,130,1,4,2,11,19

In [33]:
final_test.dtypes

IncidentTime                    int64
NumberOfVehicles                int64
BodilyInjuries                  int64
Witnesses                       int64
AmountOfTotalClaim            float64
AmountOfInjuryClaim             int64
AmountOfPropertyClaim           int64
AmountOfVehicleDamage           int64
InsuredAge                      int64
InsuredZipCode                  int64
CapitalGains                    int64
CapitalLoss                     int64
InsurancePolicyNumber           int64
CustomerLoyaltyPeriod           int64
Policy_Deductible               int64
PolicyAnnualPremium           float64
UmbrellaLimit                   int64
VehicleYOM                      int64
TypeOfIncident                  int64
TypeOfCollission                int64
SeverityOfIncident              int64
AuthoritiesContacted            int64
IncidentState                   int64
IncidentCity                    int64
IncidentAddress                 int64
PropertyDamage                  int64
PoliceReport                    int64
InsuredGender                   int64
InsuredEducationLevel           int64
InsuredOccupation               int64
DateOfPolicyCoverage            int64
InsurancePolicyState            int64
Policy_CombinedSingleLimit      int64
InsuredRelationship             int64
VehicleMake                     int64
VehicleModel                    int64
dtype: object

In [34]:
x=final_test

In [35]:
x

,IncidentTime,NumberOfVehicles,BodilyInjuries,Witnesses,AmountOfTotalClaim,AmountOfInjuryClaim,AmountOfPropertyClaim,AmountOfVehicleDamage,InsuredAge,InsuredZipCode,CapitalGains,CapitalLoss,InsurancePolicyNumber,CustomerLoyaltyPeriod,Policy_Deductible,PolicyAnnualPremium,UmbrellaLimit,VehicleYOM,TypeOfIncident,TypeOfCollission,SeverityOfIncident,AuthoritiesContacted,IncidentState,IncidentCity,IncidentAddress,PropertyDamage,PoliceReport,InsuredGender,InsuredEducationLevel,InsuredOccupation,DateOfPolicyCoverage,InsurancePolicyState,Policy_CombinedSingleLimit,InsuredRelationship,VehicleMake,VehicleModel
CustomerID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Cust10008,4,3,0,0,68354.0,6835,8059,53460,27,471704,56400,-57000,119129,84,2000,1006.00,0,1995,2,1,0,2,6,1,252,1,1,0,0,7,2405,1,4,3,13,6
Cust10010,16,1,1,1,55270.0,8113,5240,41917,40,455810,56700,-65600,119131,232,500,1279.17,0,2006,1,0,0,3,4,5,745,1,1,0,1,12,2008,2,3,4,5,35
Cust10015,20,3,0,1,59515.0,7490,9110,42915,39,461919,30400,0,119136,218,1000,1454.67,1235986,2010,2,0,0,0,6,1,180,1,1,1,4,11,3404,1,2,5,11,2
Cust10020,10,1,2,1,4941.0,494,866,3581,38,600904,68500,0,119141,205,2000,1287.76,5873212,2009,0,0,3,4,1,5,616,1,1,0,5,2,3507,2,8,1,2,15
Cust1003,7,3,2,3,34650.0,7700,3850,23100,29,430632,35100,0,110124,134,2000,1413.14,5000000,2007,2,0,0,0,6,1,698,1,1,0,3,0,10,2,3,3,10,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Cust9984,10,1,1,0,61296.0,5785,8861,46650,28,446435,0,-53700,119105,94,673,1104.02,1959277,2000,1,0,1,0,6,0,339,2,1,1,2,3,3375,2,4,1,7,17
Cust9986,19,1,1,1,86729.0,9698,9698,67333,30,438237,39600,-64300,119107,115,574,961.46,0,2000,1,1,1,1,6,1,34,2,2,0,2,1,1884,1,2,2,7,3
Cust9990,9,1,1,2,65328.0,12455,9281,43592,44,450339,25000,0,119111,297,1216,1560.49,0,1998,1,0,0,1,6,1,301,2,1,0,0,4,3762,1,3,1,8,4
Cust9995,19,1,0,2,71118.0,11977,11604,47537,29,439304,75800,-28800,119116,94,1950,1577.48,0,2002,1,2,0,0,5,6,368,2,2,1,3,10,4283,1,3,1,6,0
Cust9998,10,1,2,2,67499.0,11681,5841,49977,38,450730,51500,-74300,119119,208,2000,928.75,3701890,2007,1,1,1,1,1,6,597,0,0,0,3,5,130,1,4,2,11,19

In [36]:
def StandardScaler(X):
    mean = np.mean(X, axis=0)
    std = np.std(X, axis=0)
    a=((X - mean) / std)
    return a

In [37]:
StandardScaler(x)

,IncidentTime,NumberOfVehicles,BodilyInjuries,Witnesses,AmountOfTotalClaim,AmountOfInjuryClaim,AmountOfPropertyClaim,AmountOfVehicleDamage,InsuredAge,InsuredZipCode,CapitalGains,CapitalLoss,InsurancePolicyNumber,CustomerLoyaltyPeriod,Policy_Deductible,PolicyAnnualPremium,UmbrellaLimit,VehicleYOM,TypeOfIncident,TypeOfCollission,SeverityOfIncident,AuthoritiesContacted,IncidentState,IncidentCity,IncidentAddress,PropertyDamage,PoliceReport,InsuredGender,InsuredEducationLevel,InsuredOccupation,DateOfPolicyCoverage,InsurancePolicyState,Policy_CombinedSingleLimit,InsuredRelationship,VehicleMake,VehicleModel
CustomerID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Cust10008,-1.259304,1.232222,-1.260974,-1.427084,0.672902,-0.085233,0.216246,0.908489,-1.483856,-0.414368,1.185740,-1.128525,-1.043621,-1.209693,1.584534,-1.103246,-0.485471,-1.901302,0.650608,0.044137,-1.047222,0.261990,1.159605,-0.986239,-0.860246,-0.957586,-0.976050,-0.915786,-1.455918,0.147767,0.104249,-0.021836,0.489723,0.305605,1.641083,-1.181744
Cust10010,0.684872,-0.824250,0.014889,-0.471693,0.162846,0.202118,-0.429192,0.280486,0.158767,-0.634971,1.196523,-1.435324,-1.043437,0.294101,-1.127411,0.114014,-0.485471,0.169543,-0.597395,-1.158771,-1.047222,0.990493,0.148362,1.021954,0.872037,-0.957586,-0.976050,-0.915786,-0.956028,1.380586,-0.197915,1.186867,-0.150502,0.892831,-0.364723,1.457050
Cust10015,1.332931,1.232222,-1.260974,-0.471693,0.328330,0.062040,0.456882,0.334783,0.032411,-0.550180,0.251152,0.904910,-1.042978,0.151851,-0.223430,0.896052,0.158441,0.922577,0.650608,-1.158771,-1.047222,-1.195016,1.159605,-0.986239,-1.113237,-0.957586,-0.976050,1.091959,0.543641,1.134022,0.864608,-0.021836,-0.790727,1.480058,1.139632,-1.545715
Cust10020,-0.287216,-0.824250,1.290752,-0.471693,-1.799139,-1.510974,-1.430662,-1.805203,-0.093944,1.378885,1.620682,0.904910,-1.042518,0.019761,1.584534,0.152292,2.574298,0.734319,-1.845397,-1.158771,1.936105,1.718995,-1.368504,1.021954,0.418762,-0.957586,-0.976050,-0.915786,1.043531,-1.085052,0.943003,1.186867,3.050624,-0.868847,-1.116900,-0.362808
Cust1003,-0.773260,1.232222,1.290752,1.439091,-0.640987,0.109257,-0.747446,-0.743262,-1.231144,-0.984433,0.420097,0.904910,-1.871407,-0.701654,1.584534,0.710992,2.119381,0.357801,0.650608,-1.158771,-1.047222,-1.195016,1.159605,-0.986239,0.706891,-0.957586,-0.976050,-0.915786,0.043752,-1.578180,-1.718632,1.186867,-0.150502,0.305605,0.888906,-1.636708
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Cust9984,-0.287216,-0.824250,0.014889,-1.427084,0.397759,-0.321320,0.399872,0.537988,-1.357500,-0.765093,-0.841596,-1.010799,-1.045827,-1.108085,-0.814633,-0.666463,0.535254,-0.960009,-0.597395,-1.158771,-0.052780,-1.195016,1.159605,-1.488287,-0.554549,1.043354,-0.976050,1.091959,-0.456138,-0.838488,0.842535,1.186867,0.489723,-0.868847,0.136729,-0.180822
Cust9986,1.170916,-0.824250,0.014889,-0.471693,1.389218,0.558497,0.591511,1.663257,-1.104789,-0.878878,0.581852,-1.388947,-1.045643,-0.894709,-0.993622,-1.301718,-0.485471,-0.960009,-0.597395,0.044137,-0.052780,-0.466513,1.159605,-0.986239,-1.626246,1.043354,1.023618,-0.915786,-0.456138,-1.331616,-0.292294,-0.021836,-0.790727,-0.281621,0.136729,-1.454722
Cust9990,-0.449231,-0.824250,0.014889,0.483699,0.554939,1.178394,0.496035,0.371616,0.664189,-0.710907,0.057046,0.904910,-1.045276,0.954552,0.167091,1.367591,-0.485471,-1.336527,-0.597395,-1.158771,-1.047222,-0.466513,1.159605,-0.986239,-0.688072,1.043354,-0.976050,-0.915786,-1.455918,-0.591925,1.137088,-0.021836,-0.150502,-0.868847,0.387455,-1.363730
Cust9995,1.170916,-0.824250,-1.260974,0.483699,0.780652,1.070918,1.027908,0.586245,-1.231144,-0.864069,1.883086,-0.122510,-1.044816,-1.108085,1.494135,1.443300,-0.485471,-0.583492,-0.597395,1.247045,-1.047222,-1.195016,0.653984,1.524003,-0.452650,1.043354,1.023618,1.091959,0.043752,0.887458,1.533632,-0.021836,-0.150502,-0.868847,-0.113997,-1.727701
Cust9998,-0.287216,-0.824250,1.290752,0.483699,0.639571,1.004364,-0.291587,0.718995,-0.093944,-0.705480,1.009606,-1.745690,-1.044540,0.050243,1.584534,-1.447476,1.443104,0.357801,-0.597395,0.044137,-0.052780,-0.466513,-1.368504,1.524003,0.352001,-2.958527,-2.975718,-0.915786,0.043752,-0.345361,-1.627298,-0.021836,0.489723,-0.281621,1.139632,0.001164

In [38]:
class ANN:
    
    def predict(self,X, y, parameters,active_func_h,active_func_o):
        m = X.shape[1]
        p = np.zeros((1,m), dtype = np.int64)
        a3, caches = self.forward_propagation(X, parameters,active_func_h,active_func_o)
        for i in range(0, a3.shape[1]):
            if a3[0,i] > 0.5:
                p[0,i] = 1
            else:
                p[0,i] = 0
        #print("Accuracy: "  + str(np.mean((p[0,:] == y[0]))))
        a=str(np.mean((p[0,:] == y[0])))
        return p,a

    def update_parameters_with_gd(self,parameters, grads, learning_rate):
        L = len(parameters) // 2 # number of layers in the neural networks
        for l in range(L):
            parameters["W" + str(l+1)] = parameters["W" + str(l+1)] - learning_rate * grads["dW" + str(l+1)]
            parameters["b" + str(l+1)] = parameters["b" + str(l+1)] - learning_rate * grads["db" + str(l+1)]
        return parameters

    def backward_propagation(self,X, Y, cache):
        m = X.shape[1]
        (z1, a1, W1, b1, z2, a2, W2, b2, z3, a3, W3, b3) = cache

        dz3 = 1./m * (a3 - Y)
        dW3 = np.dot(dz3, a2.T)
        db3 = np.sum(dz3, axis=1, keepdims = True)
        
        da2 = np.dot(W3.T, dz3)
        dz2 = np.multiply(da2, np.int64(a2 > 0))
        dW2 = np.dot(dz2, a1.T)
        db2 = np.sum(dz2, axis=1, keepdims = True)
        
        da1 = np.dot(W2.T, dz2)
        dz1 = np.multiply(da1, np.int64(a1 > 0))
        dW1 = np.dot(dz1, X.T)
        db1 = np.sum(dz1, axis=1, keepdims = True)
        
        gradients = {"dz3": dz3, "dW3": dW3, "db3": db3,
                 "da2": da2, "dz2": dz2, "dW2": dW2, "db2": db2,
                 "da1": da1, "dz1": dz1, "dW1": dW1, "db1": db1}
    
        return gradients

    def compute_cost(self,a3, Y):
        m = Y.shape[1]
        logprobs = np.multiply(-np.log(a3),Y) + np.multiply(-np.log(1 - a3), 1 - Y)
        cost = 1./m * np.sum(logprobs)
        return cost

    def relu(self,x):
        s = np.maximum(0,x)
        return s
    
    def sigmoid(self,x):
        s = 1/(1+np.exp(-x))
        return s
    
    def leaky_relu(self,x, alpha=0.01):
        return np.maximum(alpha*x, x)

    def tanh(self,x):
        return np.tanh(x)

    def softmax(self,x):
        e_x = np.exp(x - np.max(x))
        return e_x / e_x.sum()

    def elu(self,z, alpha=1):
        return np.where(z < 0, alpha * (np.exp(z) - 1), z)

    def swish(self,z, beta=1):
        return z / (1 + np.exp(-beta * z))

    def softplus(self,z):
        return np.log(1 + np.exp(z))

    def softsign(self,z):
        return z / (1 + np.abs(z))


    def forward_propagation(self,X, parameters,active_func_h,active_func_o):
        W1 = parameters["W1"]
        b1 = parameters["b1"]
        W2 = parameters["W2"]
        b2 = parameters["b2"]
        W3 = parameters["W3"]
        b3 = parameters["b3"]
        
        if(active_func_h =='sigmoid'):
            z1 = np.dot(W1, X) + b1
            a1 = self.sigmoid(z1)
            z2 = np.dot(W2, a1) + b2
            a2 = self.sigmoid(z2)
            
        elif(active_func_h=='relu'):
            z1 = np.dot(W1, X) + b1
            a1 = self.relu(z1)
            z2 = np.dot(W2, a1) + b2
            a2 = self.relu(z2)
            
        elif(active_func_h=='leaky_relu'):
            z1 = np.dot(W1, X) + b1
            a1 = self.leaky_relu(z1)
            z2 = np.dot(W2, a1) + b2
            a2 = self.leaky_relu(z2)
            
        elif(active_func_h=='tanh'):
            z1 = np.dot(W1, X) + b1
            a1 = self.tanh(z1)
            z2 = np.dot(W2, a1) + b2
            a2 = self.tanh(z2)
            
        elif(active_func_h=='elu'):
            z1 = np.dot(W1, X) + b1
            a1 = self.elu(z1)
            z2 = np.dot(W2, a1) + b2
            a2 = self.elu(z2)
            
        elif(active_func_h=='softplus'):
            z1 = np.dot(W1, X) + b1
            a1 = self.softplus(z1)
            z2 = np.dot(W2, a1) + b2
            a2 = self.softplus(z2)
        
        if(active_func_o=='sigmoid'):
            z3 = np.dot(W3, a2) + b3
            a3 = self.sigmoid(z3)
        
        elif(active_func_o=='softmax'):
            z3 = np.dot(W3, a2) + b3
            a3 = self.softmax(z3)
        
    
        cache = (z1, a1, W1, b1, z2, a2, W2, b2, z3, a3, W3, b3)
    
        return a3, cache

    def random_mini_batches(self,X, Y, mini_batch_size = 64, seed = 0):
    
        np.random.seed(seed)            
        m = X.shape[1]                 
        mini_batches = []
        
        permutation = list(np.random.permutation(m))   
        shuffled_X = X.iloc[:, permutation]
        shuffled_Y = Y[permutation].values.reshape((1, m))
        #shuffled_Y = Y[permutation].reshape((1, m))
        

        num_complete_minibatches = math.floor(m/mini_batch_size) 
        for k in range(0, num_complete_minibatches):
            mini_batch_X = shuffled_X[:, k * mini_batch_size : (k + 1) * mini_batch_size]
            mini_batch_Y = shuffled_Y[:, k * mini_batch_size : (k + 1) * mini_batch_size]
            mini_batch = (mini_batch_X, mini_batch_Y)
            mini_batches.append(mini_batch)
    
        if m % mini_batch_size != 0:
            mini_batch_X = shuffled_X.iloc[:, num_complete_minibatches * mini_batch_size : ]
            mini_batch_Y = shuffled_Y[:, num_complete_minibatches * mini_batch_size : ]
            mini_batch = (mini_batch_X, mini_batch_Y)
            mini_batches.append(mini_batch)
    
        return mini_batches

    def initialize_parameters(self,layer_dims):
        np.random.seed(3)
        parameters = {}
        L = len(layer_dims) # number of layers in the network

        for l in range(1, L):
            parameters['W' + str(l)] = np.random.randn(layer_dims[l], layer_dims[l-1])*  np.sqrt(2 / layer_dims[l-1])
            parameters['b' + str(l)] = np.zeros((layer_dims[l], 1))
        
            assert (parameters['W' + str(l)].shape == layer_dims[l], layer_dims[l-1])
            assert (parameters['W' + str(l)].shape == layer_dims[l], 1)
        
        return parameters
    # GRADED FUNCTION: update_parameters_with_momentum

    def update_parameters_with_momentum(self,parameters, grads, v, beta, learning_rate):
  
        L = len(parameters) // 2
        for l in range(L):
            v["dW" + str(l+1)] = beta * v["dW" + str(l+1)] + (1 - beta) * grads["dW" + str(l+1)]
            v["db" + str(l+1)] = beta * v["db" + str(l+1)] + (1 - beta) * grads["db" + str(l+1)]
            parameters["W" + str(l+1)] = parameters["W" + str(l+1)] - learning_rate * v["dW" + str(l+1)]
            parameters["b" + str(l+1)] = parameters["b" + str(l+1)] - learning_rate * v["db" + str(l+1)]
        
        return parameters, v

    def initialize_velocity(self,parameters):
        L = len(parameters) // 2 
        v = {}
        for l in range(L):
            v["dW" + str(l+1)] = np.zeros(parameters["W"+str(l+1)].shape)
            v["db" + str(l+1)] = np.zeros(parameters["b"+str(l+1)].shape)
        return v
    
    def update_parameters_with_adam(self,parameters, grads, v, s, t, learning_rate = 0.01,
                                beta1 = 0.9, beta2 = 0.999,  epsilon = 1e-8):
        L = len(parameters) // 2                 
        v_corrected = {}                         
        s_corrected = {}                         
    
        for l in range(L):
            v["dW" + str(l+1)] = beta1 * v["dW" + str(l+1)] + (1 - beta1) * grads["dW" + str(l+1)]
            v["db" + str(l+1)] = beta1 * v["db" + str(l+1)] + (1 - beta1) * grads["db" + str(l+1)]
            v_corrected["dW" + str(l+1)] = v["dW" + str(l+1)] / (1 - beta1)
            v_corrected["db" + str(l+1)] = v["db" + str(l+1)] / (1 - beta1)
            s["dW" + str(l+1)] = beta2 * s["dW" + str(l+1)] + (1 - beta2) * (grads["dW" + str(l+1)] * grads["dW" + str(l+1)])
            s["db" + str(l+1)] = beta2 * s["db" + str(l+1)] + (1 - beta2) * (grads["db" + str(l+1)] * grads["db" + str(l+1)])
            s_corrected["dW" + str(l+1)] = s["dW" + str(l+1)] / (1 - beta2)
            s_corrected["db" + str(l+1)] = s["db" + str(l+1)] / (1 - beta2)
            parameters["W" + str(l+1)] = parameters["W" + str(l+1)] - learning_rate * v_corrected["dW" + str(l+1)] / (np.sqrt(s_corrected["dW" + str(l+1)]) + epsilon)
            parameters["b" + str(l+1)] = parameters["b" + str(l+1)] - learning_rate * v_corrected["db" + str(l+1)] / (np.sqrt(s_corrected["db" + str(l+1)]) + epsilon)

        return parameters, v, s

    def initialize_adam(self,parameters):
        L = len(parameters) // 2 
        v = {}
        s = {}
        for l in range(L):
            v["dW" + str(l+1)] = np.zeros(parameters["W" + str(l+1)].shape)
            v["db" + str(l+1)] = np.zeros(parameters["b" + str(l+1)].shape)
            s["dW" + str(l+1)] = np.zeros(parameters["W" + str(l+1)].shape)
            s["db" + str(l+1)] = np.zeros(parameters["b" + str(l+1)].shape)    
        return v, s
    
    def model(self,X, Y, layers_dims, optimizer, learning_rate = 0.0001, mini_batch_size =128, beta = 0.9,
          beta1 = 0.9, beta2 = 0.999,  epsilon = 1e-8, num_epochs = 1000, active_func_h=None, active_func_o=None, print_cost = True):
        acc=0
        L = len(layers_dims)            
        costs = []
        accuracy=[]
        t = 0                            
        seed = 10                        
        parameters = self.initialize_parameters(layers_dims)
        
        if optimizer == "gd":
            pass 
        elif optimizer == "momentum":
            v = self.initialize_velocity(parameters)
        elif optimizer == "adam":
            v, s = self.initialize_adam(parameters)
    
        for i in range(num_epochs):
            seed = seed + 1
            minibatches = self.random_mini_batches(X, Y, mini_batch_size, seed)

            for minibatch in minibatches:
                (minibatch_X, minibatch_Y) = minibatch
                a3, caches = self.forward_propagation(minibatch_X, parameters,active_func_h,active_func_o)
                cost = self.compute_cost(a3, minibatch_Y)
                grads = self.backward_propagation(minibatch_X, minibatch_Y, caches)
                if optimizer == "gd":
                    parameters = self.update_parameters_with_gd(parameters, grads, learning_rate)
                elif optimizer == "momentum":
                    parameters, v = self.update_parameters_with_momentum(parameters, grads, v, beta, learning_rate)
                elif optimizer == "adam":
                    t = t + 1 
                    parameters, v, s = self.update_parameters_with_adam(parameters, grads, v, s,
                                                               t, learning_rate, beta1, beta2,  epsilon)
            
            if print_cost and i % 100 == 0:
                p,a=self.predict(minibatch_X, minibatch_Y, parameters,active_func_h,active_func_o)
                print ("Cost after epoch %i: %f" %(i, cost),'Accuracy: ',a)
            if print_cost and i % 1 == 0:
                costs.append(cost)
                p,a=self.predict(minibatch_X, minibatch_Y, parameters,active_func_h,active_func_o)
                accuracy.append(float(a))
            if print_cost and i == (num_epochs-1):
                p,a=self.predict(minibatch_X, minibatch_Y, parameters,active_func_h,active_func_o)
                acc=a
                
        
        plt.plot(costs)
        plt.ylabel('cost')
        plt.xlabel('epochs (per 100)')
        plt.title("Cost @ Learning rate = " + str(learning_rate))
        plt.show()
        
        plt.plot(accuracy)
        plt.ylabel('accuracy')
        plt.xlabel('epochs (per 100)')
        plt.title("Accuracy @ Learning rate = " + str(learning_rate))
        plt.show()
        print ('Accuracy: ',acc)
        return parameters

<>:177: SyntaxWarning: assertion is always true, perhaps remove parentheses?
<>:178: SyntaxWarning: assertion is always true, perhaps remove parentheses?
<>:177: SyntaxWarning: assertion is always true, perhaps remove parentheses?
<>:178: SyntaxWarning: assertion is always true, perhaps remove parentheses?
/var/folders/p9/wv3jwcsd19x8pf3r2kfnj0580000gn/T/ipykernel_99781/202584605.py:177: SyntaxWarning: assertion is always true, perhaps remove parentheses?
  assert (parameters['W' + str(l)].shape == layer_dims[l], layer_dims[l-1])
/var/folders/p9/wv3jwcsd19x8pf3r2kfnj0580000gn/T/ipykernel_99781/202584605.py:178: SyntaxWarning: assertion is always true, perhaps remove parentheses?
  assert (parameters['W' + str(l)].shape == layer_dims[l], 1)

In [39]:
layers_dims = [x.shape[0], 5,3, 1]
adam=ANN()
adam_parameters = adam.model(x, y, layers_dims, optimizer = "adam",active_func_h="relu",active_func_o="sigmoid")

NameError: name 'y' is not defined

In [ ]:
predictions = predict(X, y, parameters)